/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ## END RESET ##  */

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
  }

  .container {
	width:100%;
	height:100vh;
	background: url(../assets/background1.svg) no-repeat center;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	
  }

  form {
	background:#fff;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width: 653px;
    height: 63px;
    left: 560px;
    top: 389px;
  }

  form input {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	border: none;
	outline:none;
	width: 500px;
	height: 60px;
	left: 2px;
	top: 2px;
	background: #FFFFFF;
	text-align: center;
	color: #999999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
	font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }

  form button {
	background: #5474FD;
    border: 2px solid #FFFFFF;
	width: 153px;
    height: 63px;
    left: 500px;
    top: 0px;
	cursor:pointer;
	font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .content {
    width: 800px;
    height: 356px;
    margin: 80px 292px 64px 292px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
/*
  .content-text {
    width: 800px;
    height: 272px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	flex-direction: column;
}
*/
	.content-text__title {
	width: 342px;
	height: 26px;
	left: 15px;
	top: 13px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 54%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	letter-spacing: 4.8px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 20px;
	}

	.content-text__subtitle {
	width: 345px;
	height: 26px;
	left: 13px;
	top: 50px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 118%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	letter-spacing: 6.82px;
	color: #FFFFFF;
	padding-top:10px;
	padding-bottom:40px;
	}

    nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 100%;
	background-color:#5474FD;
    height: 80px;
    left: 2px;
    top: 740px;
   }

   .menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
   }
  
   .nav-item {
	padding: 5px;
   }

  .logo {
	width: 186px;
	height: 26px;
	left: 13px;
	top: 0px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 108%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top:40px;
	}


	.list {
	width: 128px;
	height: 26px;
	left: 138px;
	top: -6px;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 186%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top:40px;
	}


	.hero {
		background: url(../assets/background2.svg) no-repeat center;
	}

	.container--inner {
		padding-left: 32px;
		padding-right: 126px;
		max-width: 100%;
		float: left;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	  }
	  
	  .hero {
		float: left;
		width: 100%;
		padding-top: 100px;
	  }
	  
	  .hero__text {
		width: 646px;
		padding-left:250px;
	  }
	  
	  .hero__image {
		width: calc(100% - 646px);
		padding-left: 150px;
	  }
	  
	  .hero__text h1 {
		font-family: 'Aleo';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 72%;
		letter-spacing: -0.03em;
		color: #000000;
		margin-bottom: 19px;
		width: 288px;
		height: 26px;
		left: 330px;
		top: 212px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
        color: #FFFFFF;
		padding-bottom:50px;
	  }
	  
	  .hero__text p {
		font-family: 'Josefin Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 126%;
		margin-bottom: 47px;
		padding-right: 160px;
		width: 560px;
		height: 158px;
		left: 330px;
		top: 288px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		letter-spacing: 1.6px;
        color: #E8E8E8;
	  }

	   .button {
		background: #496BFE;
		width:228px;;
		height: 63px;
		left: 500px;
		top: 0px;
		cursor:pointer;
		font-family: 'Aleo';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
		text-decoration: none;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-left:43px;

	  }

	  .booking {
		background: url(../assets/house.svg) no-repeat center;
		float: left;
		width: 100%;
		height:700px;
	  }
	  
	  .card {
		background-color: rgba(0, 0, 0, 0.7);
		padding: 30px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 510px;
		min-height: 290px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		color: white;
		margin-left:255px;
		margin-top:240px;
	  }

	  .card-title {
		width: 80px;
		height: 26px;
		left: 360px;
		top: 276px;
		font-family: 'Josefin Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 130%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		letter-spacing: 1.5px;
		color: #E8E8E8;
		margin-bottom:15px;
	  }

	  .card-subtitle {
		width: 241px;
		height: 26px;
		left: 360px;
		top: 325px;

		font-family: 'Josefin Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 130%;
		/* identical to box height, or 130% */

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-transform: uppercase;

		color: #FFFFFF;
		margin-bottom:15px;
	  }
	  
	  .card-description {
		margin-bottom: 30px;
		width: 508px;
		height: 78px;
		left: 360px;
		top: 364px;

		font-family: 'Josefin Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		/* or 162% */

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

		color: #E8E8E8;
	  }
	  
	  .card-subtitle,
	  .book-btn {
		text-transform: uppercase;
	  }
	  
	  .book-btn {
		width: 228px;
		height: 63px;
		left: 0px;
		top: 0px;
		background: #496BFE;
		font-family: 'Aleo';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 162%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #FFFFFF;
		border-color:none;
		padding-left:50px;
		border: none;
		outline:none;
	  }

	  .booking_spain {
		background: url(../assets/sea.svg) no-repeat center;
		float: left;
		width: 100%;
		height:700px;
	  }

	  .card_spain {
		background-color: rgba(0, 0, 0, 0.7);
		padding: 30px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 510px;
		min-height: 290px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		color: white;
		margin-left:800px;
		margin-top:240px;
	  }

	  .tourist_section {
		background: url(../assets/man.svg) no-repeat center;
		float: left;
		width: 100%;
		height:900px;
		margin-top:-100px;
	  }

	  .card_tourist {
		background-color: rgba(0, 0, 0, 0.7);
		padding: 30px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 600px;
		min-height: 285px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		color: white;
		margin-left:690px;
		margin-bottom:900px;
		margin-top:-295px;
	  }

	  .tourist_image {
		min-height:295px;
		margin-top:284px;
		margin-left:246px;
	  }


	

	

	
